fastapi
uvicorn[standard]
psycopg2-binary
python-dotenv
pydantic-settings
openai
sqlalchemy
cryptography
python-multipart
aiofiles
opendataloader-pdf
faiss-cpu
chromadb
langsmith
langchain
langchain-openai
langchain-chroma
langchain-text-splitters
langchain-community
ragas
boto3
openpyxl
